body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.buttonColomn {
	
}

.ribbon {
  display: flex;
}

.buttonRow:after {
  clear: both;
  content: "";
  display: table;
}

.title {
  font: 40px "Century Gothic", Futura, sans-serif;
  font-weight: 900;
  line-height: 60px;
  margin-bottom: 10px;
  margin-right: 50px;
}

.AccountButtons {
  background: #eee;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 17px;
  margin-right: -1px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  width: 55px;
}

.AccountButtons:focus {
  outline: none;
}

.kbd-navigation .AccountButtons:focus {
  background: #ddd;
}