/* Coolors Exported Palette - coolors.co/513616-60162b-2e96ad-40d1c9-59d6a4 */

/* HSL */
$color1: hsla(33%, 57%, 20%, 1);
$color2: hsla(343%, 63%, 23%, 1);
$color3: hsla(191%, 58%, 43%, 1);
$color4: hsla(177%, 61%, 54%, 1);
$color5: hsla(156%, 60%, 59%, 1);

/* RGB */
$color1: rgba(81, 54, 22, 1);
$color2: rgba(96, 22, 43, 1);
$color3: rgba(46, 150, 173, 1);
$color4: rgba(64, 209, 201, 1);
$color5: rgba(89, 214, 164, 1);